* {
    box-sizing: border-box;
}

p {
    line-height: normal;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 1em;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapper-header {
    color: white;
    width: 100%;
    background-color: #f68e56;
    box-shadow: 0 -80px 210px rgba(32, 12, 2, 0.7) inset;
    padding: 20px 80px;
    display: grid;
    grid-template-rows: auto auto;
}

.wrapper-block {
    margin: 20px 0;
    display: flex;
}

li {
    margin: 15px 0;
}

.head-board a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
}

.head-board {
    color: #f68e56;
    border-color: white;
    border: 0.5rem solid;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.head-row {
    color: #f68e56;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.head-title {
    line-height: 30px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.85);
    border: 0.5rem solid rgba(253, 235, 219, 0.85);
}

.head-title h1 {
    margin-left: 20px;
    width: 62%;
    line-height: 1em;
}

.content {
    box-shadow: -2px 8px 8px -2px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: -2px 8px 8px -2px rgba(0, 0, 0, 0.2) inset;
    display: grid;
    grid-template-columns: 70% 15%;
    justify-content: flex-end;
}

.sign {
    font-size: 2em;
    color: white;
    margin-left: 20px;
}

.namer {
    font-size: 2.36em;
    color: rgba(255, 255, 255, 0.85);
    font-weight: bold;
    display: flex;
}

.namer:hover, .subr:hover, .head-board a:hover {
    color: rgba(255, 255, 255, 0.98);
}

.right-block .top {
    display: none;
}

.namer u {
    color: rgba(255, 255, 255, 0.85);
    border-color: rgba(255, 255, 255, 0.85);
    border: 0.23rem solid;
}

.subr {
    color: rgba(255, 255, 255, 0.85);
    text-align: left;
    display: flex;
    font-size: 2.36em;
    /* font-weight: bold; */
}

.emo {
    margin: 10px 0;
    margin-left: 20px;
    min-width: 55px;
}

.board {
    margin: 10px 0;
}

.post {
    width: 75%;
    font-size: 18px;
    padding-bottom: 2rem;
    padding-top: 0.62rem;
    border: 1px solid rgba(221, 221, 221, 0.85);
    border-radius: 5px;
    padding: 20px;
}

.postImg {
    display: flex;
    justify-content: center;
}

.postImg img {
    max-width: 95%;
}

.postText ul {
    margin-left: 20px;
    line-height: 1.2em;
}

.left-block {
    padding: 20px;
    width: auto;
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
}

.right-block {
    margin-right: 55px;
    margin-top: 10px;
    padding-left: 5px;
    width: 0%;
    display: flex;
}

.comments p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.comments {
    width: 75%;
    padding: 40px;
    border-color: rgba(245, 245, 245, 0.85);
    border: 1px solid rgba(221, 221, 221, 0.85);
    border-radius: 5px;
    justify-content: center;
}

.lightgray {
    background: rgb(250, 250, 250);
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 5px;
}

.gray {
    background: rgb(241, 241, 241);
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 5px;
}

.comments hr {
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid rgba(221, 221, 221, 0.85);
}

.comments h1 {
    line-height: 1em;
}

.comment_info, .post_info {
    display: flex;
    padding: 3px;
    width: 100%;
}

.post_info {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 75%;
}

.social {
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: inline-block;
}

.comment_info:first-child {
    margin-right: auto;
}

.comment_info div, .post_info div, .post_info a {
    padding: 3px;
    /* padding-right: 3px; */
    font-weight: bold;
}

.comment_info .author {
    font-size: smaller;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
}

.comment_info .datetime, .post_info .datetime {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.85);
    margin-left: auto;
}

.content .md a {
    color: rgba(255, 96, 26, 1);
    background-color: transparent;
    font-weight: bold;
    -webkit-transition: opacity 0.5s, color 0.5s, background 0.5s;
    -moz-transition: opacity 0.5s, color 0.5s, background 0.5s;
    -o-transition: opacity 0.5s, color 0.5s, background 0.5s;
    transition: opacity 0.5s, color 0.5s, background 0.5s;
    text-decoration: none;
}

.content a:hover {
    color: rgba(255, 96, 26, 0.85);
    text-decoration: underline;
}

.line {
    height: 1px;
    align-self: center;
    width: 100%;
    background: rgb(245, 245, 245, 0.85);
    background-color: rgb(245, 245, 245);
}

.score {
    width: 120px;
}

.score a {
    cursor: pointer;
}

.score a:hover {
    text-decoration: none;
}

blockquote {
    border-left: 4px solid lightgray;
    margin-left: 10px;
    padding-left: 10px;
}

.similar {
    border-left: 3px solid lightgray;
}

.similar li {
    margin-top: 10px;
}

footer {
    height: 60px;
    background: rgb(22, 11, 7);
    text-align: center;
    color: lightgray;
    flex-shrink: 0;
}

.wrapper {
    flex: 1 0 auto;
}

.email {
    font-size: x-large;
    position: relative;
    top: 38%;
    justify-content: center;
}

.author {
    display: flex;
    width: 50%;
}

.author .social {
    margin: 0 auto;
}

.email a {
    text-decoration: none;
}

.posting {
    margin-top: 10px;
    width: 75%;
}

.userMessage {
    width: 100%;
}

.userName {
    height: 30px;
    width: 100px;
    margin-left: calc(50% - 100px);
}

.sendMessage {
    height: 30px;
    width: 100px;
}

.answer {
    width: 100px;
    height: 35px;
    border: 2px solid #f68e56;
    border-radius: 5px;
    float: right;
    padding: 7px;
    margin-top: 5px;
}

.answer:hover {
    background-color: rgba(255, 96, 26, 0.3);
}

.answer a, .answer a:hover {
    color: black;
    text-decoration: none;
}

.lightgray .answer, .lightgray .datetime, .gray .answer, .gray .datetime {
    margin-right: -10px;
}

.lightgray {
    margin-left: 10% im;
}

.gray {
    margin-left: 20%;
}

pre, code {
    white-space: pre-wrap;
}

iframe {
    display: block;
    margin: 0 auto;
}

.dark-theme {
    color: #f2f2f2;
    background-color: #17161a;
}

.arrow {
    position: fixed;
    width: 20px;
    height: 20px;
    bottom: 75px;
    right: 4%;
    font-size: 30px;
}

.arrow a, .arrow a:hover {
    text-decoration: none;
}

.blockedUp .scoreUp, .blockedUp .dispScore, .blockedDown .scoreDown, .blockedDown .dispScore {
    color: #f68e56;
    pointer-events: none;
}

.blockedUp .scoreDown, .blockedDown .scoreUp {
    pointer-events: none;
}

@media screen and (max-width: 1200px) {
    .comments, .post, .posting, .post_info {
        width: 70%;
    }
    .content {
        grid-template-columns: 100%;
    }
    .right-block {
        margin-left: 7%;
    }
}

@media screen and (max-width: 1000px) {
    .comments, .post, .posting, .post_info {
        width: 80%;
    }
    .head-title h1 {
        width: 90%;
    }
    .sign, .namer, .subr {
        font-size: 2em;
    }
    .head-row {
        height: 100%;
        width: 100%;
        align-items: flex-start;
    }
    .subr {
        padding: 10px 10px 10px 0;
    }
    .board a {
        line-height: 0.9em;
    }
    iframe {
        width: 500;
        height: 310;
    }
}

@media screen and (max-width: 768px) {
    .comment_info .datetime {
        display: none;
    }
    .comments, .post, .posting, .post_info {
        width: 90%;
    }
    iframe {
        width: 400;
        height: 246
    }
}

@media screen and (max-width: 600px) {
    .author {
        display: block;
    }
    iframe {
        width: 300;
        height: 185;
    }
}

@media screen and (max-width: 500px) {
    .wrapper-header {
        padding: 10px;
    }
    .head-title {
        font-size: 12px;
    }
    .post_info, .comment_info {
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
    .post, .comments {
        padding: 10px;
    }
    .left-block {
        padding: 10px;
    }
    .arrow {
        font-size: 20px;
        right: 2%;
    }
}

@media screen and (max-width: 400px) {
    .sign, .namer {
        font-size: 1.7em;
    }
    .subr {
        font-size: 1.5em;
        padding: 0 5px 0 0;
    }
    iframe {
        width: 240;
        height: 170;
    }
}