* {
    box-sizing: border-box
}

p {
    line-height: normal
}

body {
    font-family: roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 1em;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    margin: 0
}

.wrapper-header {
    color: #fff;
    width: 100%;
    background-color: #f68e56;
    box-shadow: 0 -80px 210px rgba(32, 12, 2, .7) inset;
    padding: 20px 80px;
    display: grid;
    grid-template-rows: auto auto
}

.wrapper-block {
    margin: 20px 0;
    display: flex
}

.head-board a {
    text-decoration: none;
    color: rgba(255, 255, 255, .85)
}

.head-board {
    color: #f68e56;
    border-color: #fff;
    border: .5rem solid;
    display: flex;
    align-items: center;
    padding: 5px 0
}

.head-row {
    color: #f68e56;
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.head-title {
    line-height: 30px;
    color: rgba(255, 255, 255, .85);
    border-color: rgba(231, 207, 194, .38);
    border: .5rem solid
}

.content {
    box-shadow: -2px 8px 8px -2px rgba(0, 0, 0, .2) inset;
    -webkit-box-shadow: -2px 8px 8px -2px rgba(0, 0, 0, .2) inset;
    display: grid;
    grid-template-columns: 70% 20%;
    justify-content: flex-end
}

.sign {
    font-size: 2em;
    color: #fff;
    margin-left: 20px
}

.namer {
    font-size: 2.36em;
    color: rgba(255, 255, 255, .85);
    font-weight: 700;
    display: flex
}

.namer:hover,
.subr:hover,
.head-board a:hover {
    color: rgba(255, 255, 255, .98)
}

.right-block .top {
    display: none
}

.namer u {
    color: rgba(255, 255, 255, .85);
    border-color: rgba(255, 255, 255, .85);
    border: .23rem solid
}

.subr {
    color: rgba(255, 255, 255, .85);
    text-align: left;
    display: flex;
    font-size: 2.36em
}

.emo {
    margin: 10px 0;
    margin-left: 20px;
    min-width: 55px
}

.board {
    margin: 10px 0
}

.post {
    width: 75%;
    font-size: 18px;
    padding-bottom: 2rem;
    padding-top: .62rem;
    border: 1px solid rgba(221, 221, 221, .85);
    border-radius: 5px;
    padding: 20px
}

.postImg {
    display: flex;
    width: 46vw;
    justify-content: center
}

.postImg img {
    justify-content: center;
    max-width: 400px
}

.left-block {
    padding: 20px;
    width: auto;
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column
}

.right-block {
    margin-right: 55px;
    margin-top: 10px;
    padding-left: 5px;
    width: 0%;
    display: flex
}

.comments p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto
}

.comments {
    width: 75%;
    padding: 40px;
    border-color: rgba(245, 245, 245, .85);
    border: 1px solid rgba(221, 221, 221, .85);
    border-radius: 5px;
    justify-content: center
}

.lightgray {
    background: #fafafa;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 5px
}

.gray {
    background: #f8f8f8;
    background: #fafafa;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 5px
}

.comments hr {
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid rgba(221, 221, 221, .85)
}

.comment_info,
.post_info {
    display: inline-flex;
    padding: 3px;
    width: 100%
}

.post_info {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 75%
}

.social {
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: inline-block
}

.comment_info:first-child {
    margin-right: auto
}

.comment_info div,
.post_info div,
.post_info a {
    padding: 3px;
    font-weight: 700
}

.comment_info .author {
    font-size: smaller;
    color: rgba(0, 0, 0, .85);
    font-weight: 700
}

.comment_info .datetime,
.post_info .datetime {
    font-size: 12px;
    color: rgba(0, 0, 0, .85);
    margin-left: auto
}

.content .md a {
    color: #ff601a;
    background-color: transparent;
    font-weight: 700;
    -webkit-transition: opacity .5s, color .5s, background .5s;
    -moz-transition: opacity .5s, color .5s, background .5s;
    -o-transition: opacity .5s, color .5s, background .5s;
    transition: opacity .5s, color .5s, background .5s;
    text-decoration: none
}

.content a:hover {
    color: rgba(255, 96, 26, .85);
    text-decoration: underline
}

.line {
    height: 1px;
    align-self: center;
    width: 100%;
    background: rgb(245, 245, 245, .85);
    background-color: #f5f5f5
}

.score a:hover {
    text-decoration: none
}

blockquote {
    border-left: 4px solid #d3d3d3;
    margin-left: 10px;
    padding-left: 10px
}

.similar {
    border-left: 3px solid #d3d3d3
}

.similar li {
    margin-top: 10px
}

footer {
    height: 60px;
    background: #160b07;
    text-align: center;
    color: #d3d3d3;
    margin-top: 15px
}

.email {
    font-size: x-large;
    position: relative;
    top: 38%;
    justify-content: center
}

.email a {
    text-decoration: none
}

@media screen and (max-width:1200px) {
    .postImg img {
        margin-left: 35%
    }

    .comments,
    .post {
        width: 90%
    }

    .post_info {
        width: 90%
    }

    .content {
        grid-template-columns: 100%
    }

    .right-block {
        margin-left: 7%
    }
}

@media screen and (max-width:1000px) {

    .sign,
    .namer,
    .subr {
        font-size: 2em
    }

    .head-row {
        height: 100%;
        width: 100%;
        align-items: flex-start
    }

    .subr {
        padding: 10px 10px 10px 0
    }
}

@media screen and (max-width:768px) {
    .comment_info .datetime {
        display: none
    }

    .postImg img {
        max-width: 300px
    }
}

@media screen and (max-width:600px) {
    .postImg img {
        max-width: 250px
    }
}

@media screen and (max-width:500px) {
    .wrapper-header {
        padding: 0 10px
    }

    .postImg img {
        max-width: 100%
    }

    .head-title {
        font-size: 12px
    }

    .post_info,
    .comment_info {
        display: flex;
        flex-direction: column;
        padding-left: 0
    }

    .post,
    .comments {
        padding: 10px
    }

    .left-block {
        padding: 10px
    }
}

@media screen and (max-width:400px) {

    .sign,
    .namer {
        font-size: 1.7em
    }

    .subr {
        font-size: 1.5em;
        padding: 0 5px 0 0
    }
}